<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bz01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,886},{506,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,440}}</string>
                <key>sourceSize</key>
                <string>{506,440}</string>
            </dict>
            <key>bz01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1086},{506,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,440}}</string>
                <key>sourceSize</key>
                <string>{506,440}</string>
            </dict>
            <key>bz01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,444},{506,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,440}}</string>
                <key>sourceSize</key>
                <string>{506,440}</string>
            </dict>
            <key>bz01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1328},{506,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,440}}</string>
                <key>sourceSize</key>
                <string>{506,440}</string>
            </dict>
            <key>bz01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{506,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,440}}</string>
                <key>sourceSize</key>
                <string>{506,440}</string>
            </dict>
            <key>bz01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{506,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,440}}</string>
                <key>sourceSize</key>
                <string>{506,440}</string>
            </dict>
            <key>bz01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2},{506,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,440}}</string>
                <key>sourceSize</key>
                <string>{506,440}</string>
            </dict>
            <key>bz01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{506,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,440}}</string>
                <key>sourceSize</key>
                <string>{506,440}</string>
            </dict>
            <key>bz01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{506,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,440}}</string>
                <key>sourceSize</key>
                <string>{506,440}</string>
            </dict>
            <key>bz01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{506,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,440}}</string>
                <key>sourceSize</key>
                <string>{506,440}</string>
            </dict>
            <key>bz02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1764},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>bz02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1528},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>bz02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1764},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>bz02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1528},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>bz02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1770},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>bz02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1770},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>bz02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1770},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>bz03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1542},{190,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,212}}</string>
                <key>sourceSize</key>
                <string>{190,212}</string>
            </dict>
            <key>bz03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1328},{190,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,212}}</string>
                <key>sourceSize</key>
                <string>{190,212}</string>
            </dict>
            <key>bz03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1528},{190,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,212}}</string>
                <key>sourceSize</key>
                <string>{190,212}</string>
            </dict>
            <key>bz03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,872},{190,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,212}}</string>
                <key>sourceSize</key>
                <string>{190,212}</string>
            </dict>
            <key>bz03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,658},{190,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,212}}</string>
                <key>sourceSize</key>
                <string>{190,212}</string>
            </dict>
            <key>bz03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,444},{190,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,212}}</string>
                <key>sourceSize</key>
                <string>{190,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baozha.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:923b3365c16bd994b610af0365b83b81$</string>
            <key>textureFileName</key>
            <string>baozha.png</string>
        </dict>
    </dict>
</plist>
