<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>301.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,768},{66,70}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,60},{66,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>302.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,247},{104,110}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,39},{104,110}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>303.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1349},{132,150}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,24},{132,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>304.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1220},{144,156}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,22},{144,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>305.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,406},{168,182}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{168,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>306.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,220},{180,184}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{180,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>601.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1357},{59,60}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,92},{59,60}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>602.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{237,236}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{237,236}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>603.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1006},{199,178}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{199,178}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>604.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1013},{213,190}}</string>
                <key>offset</key>
                <string>{12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{213,190}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>605.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{225,214}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{225,214}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>606.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,951},{213,216}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{213,216}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>607.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,590},{193,208}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,9},{193,208}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>701.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,994},{73,65}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,85},{73,65}}</string>
                <key>sourceSize</key>
                <string>{241,259}</string>
            </dict>
            <key>702.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1174},{165,173}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,37},{165,173}}</string>
                <key>sourceSize</key>
                <string>{241,259}</string>
            </dict>
            <key>703.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,800},{191,211}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{191,211}}</string>
                <key>sourceSize</key>
                <string>{241,259}</string>
            </dict>
            <key>704.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,690},{241,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,259}}</string>
                <key>sourceSize</key>
                <string>{241,259}</string>
            </dict>
            <key>705.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,429},{241,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,259}}</string>
                <key>sourceSize</key>
                <string>{241,259}</string>
            </dict>
            <key>706.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,168},{241,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,259}}</string>
                <key>sourceSize</key>
                <string>{241,259}</string>
            </dict>
            <key>dazhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,111},{170,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,107}}</string>
                <key>sourceSize</key>
                <string>{170,107}</string>
            </dict>
            <key>dazhao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1169},{118,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,165}}</string>
                <key>sourceSize</key>
                <string>{118,165}</string>
            </dict>
            <key>enemyBulletTrack.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,561},{26,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{26,92}}</string>
                <key>sourceSize</key>
                <string>{40,92}</string>
            </dict>
            <key>enemyPlane0.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,446},{100,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,85}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>enemyPlane1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,359},{100,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,85}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>enemyPlane2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,615},{100,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,75}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>enemyPlane3.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,692},{100,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,68}}</string>
                <key>sourceSize</key>
                <string>{100,68}</string>
            </dict>
            <key>enemyPlane4.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,533},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>heroBullet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,655},{25,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{25,186}}</string>
                <key>sourceSize</key>
                <string>{49,186}</string>
            </dict>
            <key>heroBullet00.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1186},{49,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,186}}</string>
                <key>sourceSize</key>
                <string>{49,186}</string>
            </dict>
            <key>heroBulletTrack.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,857},{96,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{96,40}}</string>
                <key>sourceSize</key>
                <string>{100,42}</string>
            </dict>
            <key>heroPlane0.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{245,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,164}}</string>
                <key>sourceSize</key>
                <string>{245,164}</string>
            </dict>
            <key>heroPlane1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1061},{119,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,124}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>heroPlane2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,843},{233,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,161}}</string>
                <key>sourceSize</key>
                <string>{233,161}</string>
            </dict>
            <key>hudun.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,2},{170,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,107}}</string>
                <key>sourceSize</key>
                <string>{170,107}</string>
            </dict>
            <key>star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1233},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,490},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{29,38}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,792},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>wingman0.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,720},{67,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,98}}</string>
                <key>sourceSize</key>
                <string>{67,98}</string>
            </dict>
            <key>wingman1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,762},{98,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,93}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>wingman2.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,899},{85,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,93}}</string>
                <key>sourceSize</key>
                <string>{85,93}</string>
            </dict>
            <key>yun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{478,241}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{478,241}}</string>
                <key>sourceSize</key>
                <string>{490,243}</string>
            </dict>
            <key>yun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{447,228}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{447,228}}</string>
                <key>sourceSize</key>
                <string>{449,234}</string>
            </dict>
            <key>yun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{592,243}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{592,243}}</string>
                <key>sourceSize</key>
                <string>{594,247}</string>
            </dict>
            <key>zd01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1300},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,61}</string>
            </dict>
            <key>zd01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1237},{57,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,61}}</string>
                <key>sourceSize</key>
                <string>{57,61}</string>
            </dict>
            <key>zd01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1174},{57,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,61}}</string>
                <key>sourceSize</key>
                <string>{57,61}</string>
            </dict>
            <key>zd02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,530},{29,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{29,29}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>zd02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1277},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>zd02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1312},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>zd02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1277},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>zd02_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1275},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>zd02_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1233},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>zd03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1187},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>zd03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1187},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>zd03_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1006},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>zd05_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1027},{14,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,62}}</string>
                <key>sourceSize</key>
                <string>{14,62}</string>
            </dict>
            <key>zd05_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,963},{14,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,62}}</string>
                <key>sourceSize</key>
                <string>{14,62}</string>
            </dict>
            <key>zd05_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,899},{14,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,62}}</string>
                <key>sourceSize</key>
                <string>{14,62}</string>
            </dict>
            <key>zd06_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,816},{23,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>zd07_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,720},{33,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,70}}</string>
                <key>sourceSize</key>
                <string>{33,70}</string>
            </dict>
            <key>zd08_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,720},{30,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,94}}</string>
                <key>sourceSize</key>
                <string>{30,94}</string>
            </dict>
            <key>zd10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1233},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>zidan_lan_zidan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,720},{72,46}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{72,46}}</string>
                <key>sourceSize</key>
                <string>{82,48}</string>
            </dict>
            <key>ziti_huolitisheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1186},{147,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,32}}</string>
                <key>sourceSize</key>
                <string>{147,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3b4ea55ce9bce6b242d984c9ac95535$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
