<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_1_spider.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,151},{58,42}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{58,42}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>dot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,211},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,263},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,409},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{44,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dot_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,465},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{44,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dot_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,417},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{44,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dot_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,457},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{40,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>shield_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{110,109}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{110,109}}</string>
                <key>sourceSize</key>
                <string>{114,113}</string>
            </dict>
            <key>shield_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{110,109}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{110,109}}</string>
                <key>sourceSize</key>
                <string>{114,113}</string>
            </dict>
            <key>shield_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,109}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{110,109}}</string>
                <key>sourceSize</key>
                <string>{114,113}</string>
            </dict>
            <key>spilt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,335},{72,72}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,42},{72,72}}</string>
                <key>sourceSize</key>
                <string>{90,138}</string>
            </dict>
            <key>spilt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{86,80}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,80}}</string>
                <key>sourceSize</key>
                <string>{90,138}</string>
            </dict>
            <key>spilt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{90,64}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{90,64}}</string>
                <key>sourceSize</key>
                <string>{90,138}</string>
            </dict>
            <key>split_swipe_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{30,112}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{30,112}}</string>
                <key>sourceSize</key>
                <string>{90,138}</string>
            </dict>
            <key>split_swipe_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{147,23}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{147,23}}</string>
                <key>sourceSize</key>
                <string>{181,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameImage.png</string>
            <key>size</key>
            <string>{171,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a608454f612f34956fa94b65ed0748a$</string>
            <key>textureFileName</key>
            <string>gameImage.png</string>
        </dict>
    </dict>
</plist>
