<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_chongxinkaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,2},{290,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,109}}</string>
                <key>sourceSize</key>
                <string>{290,109}</string>
            </dict>
            <key>anniu_chuzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,973},{439,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,158}}</string>
                <key>sourceSize</key>
                <string>{439,158}</string>
            </dict>
            <key>anniu_fuhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1938},{346,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,104}}</string>
                <key>sourceSize</key>
                <string>{346,104}</string>
            </dict>
            <key>anniu_fuhuoka.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,303},{271,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,92}}</string>
                <key>sourceSize</key>
                <string>{271,92}</string>
            </dict>
            <key>anniu_goumai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,1133},{439,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{439,156}}</string>
                <key>sourceSize</key>
                <string>{439,158}</string>
            </dict>
            <key>anniu_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,2},{61,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
            <key>anniu_huoqufuhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,113},{271,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,129}}</string>
                <key>sourceSize</key>
                <string>{271,129}</string>
            </dict>
            <key>anniu_kaishiyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1121},{525,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{525,138}}</string>
                <key>sourceSize</key>
                <string>{525,138}</string>
            </dict>
            <key>anniu_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,209},{271,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,92}}</string>
                <key>sourceSize</key>
                <string>{271,92}</string>
            </dict>
            <key>anniu_mianfei.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,115},{271,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,92}}</string>
                <key>sourceSize</key>
                <string>{271,92}</string>
            </dict>
            <key>anniu_shengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,961},{439,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,158}}</string>
                <key>sourceSize</key>
                <string>{439,158}</string>
            </dict>
            <key>anniu_shengyin_guan.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,608},{179,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,91}}</string>
                <key>sourceSize</key>
                <string>{179,91}</string>
            </dict>
            <key>anniu_shengyin_kai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,244},{177,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,91}}</string>
                <key>sourceSize</key>
                <string>{177,91}</string>
            </dict>
            <key>anniu_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1938},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>anniu_yaoqing.ba.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1938},{271,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,92}}</string>
                <key>sourceSize</key>
                <string>{271,92}</string>
            </dict>
            <key>anniu_zhuye.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1938},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>cc_lj01.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,701},{75,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,110}}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>cc_lj02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1938},{110,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,105}}</string>
                <key>sourceSize</key>
                <string>{110,105}</string>
            </dict>
            <key>cc_lj03.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1938},{96,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,105}}</string>
                <key>sourceSize</key>
                <string>{96,105}</string>
            </dict>
            <key>jiesuan_jifenkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,727},{361,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,50}}</string>
                <key>sourceSize</key>
                <string>{361,50}</string>
            </dict>
            <key>jindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,744},{612,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,42}}</string>
                <key>sourceSize</key>
                <string>{612,42}</string>
            </dict>
            <key>jindutiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,672},{646,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{646,70}}</string>
                <key>sourceSize</key>
                <string>{646,70}</string>
            </dict>
            <key>kuangti_dazhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,832},{125,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,62}}</string>
                <key>sourceSize</key>
                <string>{125,62}</string>
            </dict>
            <key>kuangti_defen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,114},{670,556}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,556}}</string>
                <key>sourceSize</key>
                <string>{670,556}</string>
            </dict>
            <key>kuangti_hudun(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,832},{126,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,62}}</string>
                <key>sourceSize</key>
                <string>{126,62}</string>
            </dict>
            <key>kuangti_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{208,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,54}}</string>
                <key>sourceSize</key>
                <string>{208,54}</string>
            </dict>
            <key>kuangti_shengming(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{893,637},{130,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,62}}</string>
                <key>sourceSize</key>
                <string>{130,62}</string>
            </dict>
            <key>kuangti_tongyong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{708,1117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,1117}}</string>
                <key>sourceSize</key>
                <string>{708,1117}</string>
            </dict>
            <key>kuangti_tongyong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,2},{720,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,110}}</string>
                <key>sourceSize</key>
                <string>{720,110}</string>
            </dict>
            <key>kuangti_tongyonganniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,435},{196,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,171}}</string>
                <key>sourceSize</key>
                <string>{196,171}</string>
            </dict>
            <key>kuangti_tongyonganniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,788},{500,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,171}}</string>
                <key>sourceSize</key>
                <string>{500,171}</string>
            </dict>
            <key>kuangti_tongyongbian.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{21,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,43}}</string>
                <key>sourceSize</key>
                <string>{21,43}</string>
            </dict>
            <key>kuangti_tongyongkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1121},{963,815}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{963,815}}</string>
                <key>sourceSize</key>
                <string>{963,815}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,832},{426,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{426,247}}</string>
                <key>sourceSize</key>
                <string>{430,249}</string>
            </dict>
            <key>prizeJiSuJiaSu.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,66},{52,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,47}}</string>
                <key>sourceSize</key>
                <string>{52,47}</string>
            </dict>
            <key>prizeJinBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,701},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>prizeXinJiaXue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,832},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>singleColor.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2044},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>tubiao_dazhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,896},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>tubiao_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,570},{128,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,155}}</string>
                <key>sourceSize</key>
                <string>{128,155}</string>
            </dict>
            <key>tubiao_hudun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,896},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>tubiao_huzhuli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,557},{138,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,142}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>tubiao_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,435},{98,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,200}}</string>
                <key>sourceSize</key>
                <string>{98,200}</string>
            </dict>
            <key>tubiao_jiku.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,399},{143,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,156}}</string>
                <key>sourceSize</key>
                <string>{143,156}</string>
            </dict>
            <key>tubiao_libao.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,701},{126,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,123}}</string>
                <key>sourceSize</key>
                <string>{126,123}</string>
            </dict>
            <key>tubiao_paihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,424},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>tubiao_shangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,244},{164,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,153}}</string>
                <key>sourceSize</key>
                <string>{164,153}</string>
            </dict>
            <key>wenzi_dianjijixu.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,397},{255,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,36}}</string>
                <key>sourceSize</key>
                <string>{255,36}</string>
            </dict>
            <key>wenzi_goumai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,337},{160,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,85}}</string>
                <key>sourceSize</key>
                <string>{160,85}</string>
            </dict>
            <key>ziti_dangqiandengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,58},{176,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,39}}</string>
                <key>sourceSize</key>
                <string>{176,39}</string>
            </dict>
            <key>ziti_zhanjizuigaodengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,779},{353,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,51}}</string>
                <key>sourceSize</key>
                <string>{353,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:819987dd8282b8a14ecb37c176e90841$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
